<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ClientId" value=""/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalculord" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8777/CalculordService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculord"
                contract="CalculordServiceReference.ICalculord" name="NetTcpBinding_ICalculord">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>